body {
    text-align: center;
    background: #b7b7c2;
    background: -webkit-linear-gradient(272deg, #b7b7c2 0%, #34323a 100%);
    background: linear-gradient(272deg, #b7b7c2 0%, #34323a 100%);
    background-image: url(images/Background\ image.png);
    background-color: #cccccc;
}

span {
    color: #fff;
}

.container-fluid {
    padding: 7% 15%;
}

p {
    color: #fff;
}

.prod-price {
    color: #fff;
}

.dispence-message {
    color: #fff;
}

#paid #changeSum {
    color: #fff;
    margin: 0 1rem 0;
}

/* Кнопки продуктов */
.row {
    position: relative;
}

.col-lg-3 {
    display: inline-block;
    position: relative;
}

.prod-button {
    background: #824328;
    background-image: -webkit-linear-gradient(top, #824328, #2ba5b8);
    background-image: -moz-linear-gradient(top, #824328, #2ba5b8);
    background-image: -ms-linear-gradient(top, #824328, #2ba5b8);
    background-image: -o-linear-gradient(top, #824328, #2ba5b8);
    background-image: linear-gradient(to bottom, #824328, #2ba5b8);
    box-shadow: 10px 5px 5px #314d5e;
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    text-shadow: 0px 0px 30px #666666;
    font-family: Georgia;
    color: #ffffff;
    font-size: 17px;
    padding: 40px 0px 40px 0px;
    border: solid #314d5e 2px;
    text-decoration: none;
    width: 100px;
    height: 100px;
    margin: 10px;
}

.prod-button:hover {
    background: #59211e;
    background-image: -webkit-linear-gradient(top, #59211e, #1f4d5c);
    background-image: -moz-linear-gradient(top, #59211e, #1f4d5c);
    background-image: -ms-linear-gradient(top, #59211e, #1f4d5c);
    background-image: -o-linear-gradient(top, #59211e, #1f4d5c);
    background-image: linear-gradient(to bottom, #59211e, #1f4d5c);
    text-decoration: none;
}

.dispence-button {
    background: #000;
    background-image: -webkit-linear-gradient(top, #000, #fff);
    background-image: -moz-linear-gradient(top, #000, #fff);
    background-image: -ms-linear-gradient(top, #000, #fff);
    background-image: -o-linear-gradient(top, #000, #fff);
    background-image: linear-gradient(to bottom, #000, #fff);
    box-shadow: 10px 5px 5px #34323a;
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    text-shadow: 0px 0px 30px #666666;
    font-family: Georgia;
    color: #ffffff;
    font-size: 17px;
    padding: 40px 0px 40px 0px;
    border: solid #314d5e 2px;
    text-decoration: none;
    width: 100px;
    height: 100px;
    margin: 10px;
}

.pressed {
    opacity: 0.4;
}

.visAvail {
    background: url(images/notavailable.jpg) no-repeat;
    color: #000;
    width: 100px;
    height: 100px;
    background-size: cover;
}

p {
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 3rem;
}

/* Кнопки интерфейса */
.interface {
    background: rgba(47, 87, 92, 0.5);
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
    border: 1px solid rgba(47, 87, 92, 0.25);
    border-radius: 7%;
    text-align: left;

}

.products {
    background: rgba(47, 87, 92, 0.5);
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
    border: 1px solid rgba(47, 87, 92, 0.25);
    border-radius: 7%;
}

.interface-button {
    margin: 0.5rem;
    background: #a13f40;
    background-image: -webkit-linear-gradient(top, #a13f40, #5e2644);
    background-image: -moz-linear-gradient(top, #a13f40, #5e2644);
    background-image: -ms-linear-gradient(top, #a13f40, #5e2644);
    background-image: -o-linear-gradient(top, #a13f40, #5e2644);
    background-image: linear-gradient(to bottom, #a13f40, #5e2644);
    -webkit-border-radius: 15;
    -moz-border-radius: 15;
    border-radius: 15px;
    font-family: Arial;
    color: #ffffff;
    font-size: 15px;
    padding: 8px 15px 8px 15px;
    text-decoration: none;
}

.interface-button:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}

input {
    margin: 0.5rem;
    width: 100px;
    /* height: 8px;  */
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    padding: 10px 0;
    border: 8px solid #c9c9c9;
    -webkit-border-radius: 93px / 23px;
    border-radius: 93px / 23px;
    font: normal 15px/normal "Times New Roman", Times, serif;
    color: rgba(255,255,255,1);
    text-align: center;
    -o-text-overflow: clip;
    text-overflow: clip;
    background: rgb(168, 167, 167);
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2) inset;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2) inset;
    text-shadow: 1px 1px 0 rgba(255,255,255,0.66) ;
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

/* Выдача товара после клика по кнопке продукта */
.sprite {
    background: url(images/sprite.png) no-repeat;
    z-index: 0;
    width: 100px;
    height: 100px;
    background-size: cover;
}

.fanta {
    background: url(images/fanta.png) no-repeat;
    z-index: 0;
    width: 100px;
    height: 100px;
    background-size: cover;
}

.cocaCola {
    background: url(images/coke.png) no-repeat;
    z-index: 0;
    width: 100px;
    height: 100px;
    background-size: cover;
}

.schweppes {
    background: url(images/schweppes.jpg) no-repeat;
    z-index: 0;
    width: 100px;
    height: 100px;
    background-size: cover;
}

.lipton {
    background: url(images/lipton.png) no-repeat;
    z-index: 0;
    width: 100px;
    height: 100px;
    background-size: cover;
}

.конфета {
    background: url(images/candy.png) no-repeat;
    z-index: 0;
    width: 100px;
    height: 100px;
    background-size: cover;
}

.жвачка {
    background: url(images/gum.png) no-repeat;
    z-index: 0;
    width: 100px;
    height: 100px;
    background-size: cover;
}

.зубочистка {
    background: url(images/toothpick.png) no-repeat;
    z-index: 0;
    width: 100px;
    height: 100px;
    background-size: cover;
}